<!-- views/partials/_header.ejs -->
<!DOCTYPE html>
<html lang="eng">
<head>
  <title></title>
</head>
<body>
<% if (users === undefined) { %>
<form method="POST" action="/login">
  <label for="username">Login: </label>
  <input type="text" id="username" name="username" value=""><br>
  <button type="submit">Submit</button>
</form>
<% } else { %>
email: <%= users.email %>
<form method="POST" action="/logout">
  <button type="submit">Logout</button>
</form>
<% } %>
</body>
</html>
