<!DOCTYPE html>
<html lang="en">
<head>
  <title></title>
</head>
<body>
  <header>
    <% include ./partials/_header %>
  </header>
  <h1>Log it in!</h1>
<form method="POST" action="/login">
  <label for="email">Email: </label>
  <input type="email" id="email" name="email" value=""><br>
  <label for="password">Password: </label>
  <input type="password" id="password" name="password" value=""><br>
  <button type="submit">Submit</button>
</form>
</body>
</html>