<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<body>
  <header>
    <% include ./partials/_header %>
  </header>
<h3> Full URL</h3>
Long URL: <%= longURL %><br>
Shortened URL: <%= shortURL %><P>
Update URL:
<form method="POST" action="/urls/<%= shortURL %>/update">
  <label for="longURL">
  <input type="text" id="longURL" name="longURL" value="<%= longURL %>"><br>
  <small id="help">Be sure to include http://</small><br>
  <button type="submit">Submit</button>
</form>
</body>
</html>