<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<body>
  <header>
    <% include ./partials/_header %>
  </header>
<a href="#">A Link to Shorten a new URL</a>
<h3> Shortened URLS</h3>
<ul>
  <% for(var key in urls) { %>
    <li><%= key + ": " + urls[key] %></li>
  <% } %>
</ul>
</body>
</html>