<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<body>
  <header>
    <% include ./partials/_header %>
  </header>
<a href="/urls/new">A Link to Shorten a new URL</a>
<h3> Shortened URLS</h3>
<ul>
  <% for(var key in urls) { %>
    <li><%= key + ": " + urls[key] %>
      <a href="/urls/<%= key %>">Edit</a>
      <form method="POST" action="/urls/<%= key %>/delete">
        <button type='submit' class='btn btn-danger'>Delete</button>
      </form>
    </li>
  <% } %>
</ul>
</body>
</html>